button {
    height: 50px;
    width: 90%;
    outline: none;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
  }

button:active {
  background-color: gray;
}

button:hover {
  cursor: pointer;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

#popup_body{
  height: 100px;
  width: 100px;
}

p {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

